.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar{
  background: linear-gradient(180deg, rgb(190 190 190) 0%, #61dafb8c 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  top: 0;
  z-index: 999;
}

.Grid{
  display: flex;
  justify-content: space-between;
  object-fit: contain;
  width: 80%;
  margin: auto;
  position: relative;
  padding: 20px;
}
.left{
  width: 48%;
  float: left;
}
.right{
  float: right;
  width: 48%;
}
.inner-content{
  box-shadow: 2px 2px 16px 0px rgba(0, 32, 144, 0.40);
  border-radius: 10px;
  padding: 20px;
  p{
    font-size: 13px;
    color: #615e5e;
    line-height: 1.5;
    font-family:Arial, Helvetica, sans-serif;
  }
}
.button{
  font-size: 11px;
  line-height: 1.5;
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-transform: none;
}
.contentdiv {
  margin: auto;
  padding: 1rem;
}
.content-left{
  width: 48%;
  float: left;
  /* position: absolute; */
  /* box-shadow: 0px 0px 1px 1px #9a9a9a; */
  overflow-y: auto;
}
.content-right{
  float: right;
  width: 48%;
  /* position: absolute; */
  box-shadow: 0px 0px 1px 1px #9a9a9a;
  overflow-y: auto;
}
.contendDivHead{
  font-size: 24px;
}

.questions {
  text-align: left;
}

.legend-label{
  z-index: 10;
  position: absolute;
  list-style-type: none;
  padding: 0px;
  right: 30px;
  top: 60%;
  font-size: 9px;
  font-weight: bold;
  .key{
    border-left-width: 10px;
    border-left-style: solid;
    padding-left: 5px;
    text-align: left;
  }
}

.time-slider-container{
  width: 50%;
  display: inline-block;
  min-height: 50px;
  margin: 15px 0px;
}